
* {
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  font-family: PingFangSC-Light;
  color: white;

  #bg { z-index: 0 }
  #nav { z-index: 2 }
  #vols { z-index: 1 }

  #nav, #vols {
    padding: 0 25px;
    width: calc(100% - 50px);
  }
}
