@import "../../styles/helper";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 32px;
    height: 32px;
    margin: 0 12px;
    opacity: 0.6;
    @include cursor;
  }

  .pagination-item {
    text-align: center;
    font-size: 12px;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    @include cursor;

    &.activated {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}
