@charset "UTF-8";

@font-face {
  font-family: "PingFang SC";
  font-style: normal;
  src: url(../static/fonts/PingFangSC.ttf);
}

@font-face {
  font-family: "Savoye LET";
  font-style: normal;
  src: url(../static/fonts/SavoyeStd.otf) format("truetype");
}
