@font-face {
    font-family: ms;
    src: url('../fonts/ms.ttf')
}

@font-face {
    font-family: hanyi90;
    src: url('../fonts/hanyi90.ttf')
}

* {
    margin: 0;
    padding: 0;
    font-family: hanyi90, ms, Arial;
}

#luoo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#volContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/********************** Animation *********************/

.vol-enter {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
    transition: all 800ms ease-out;
}

.vol-enter.vol-enter-active {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.vol1 { transition-delay: 0ms}
.vol2 { transition-delay: 500ms}
.vol3 { transition-delay: 300ms}
.vol4 { transition-delay: 700ms}
.vol6 { transition-delay: 500ms}
.vol7 { transition-delay: 900ms}
.vol8 { transition-delay: 700ms}
.vol9 { transition-delay: 1200ms}
.vol10 { transition-delay: 900ms}