@import "../../styles/helper";

.icon {
  max-width: 200px;
  max-height: 200px;
  @include transition;
}

.icon.animate {
  &.SYNC {
    animation: SYNC 800ms infinite;
    animation-timing-function: linear;
    @keyframes SYNC {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(180deg);
      }
    }
  }

  &.LOADING {
    animation: LOADING 1000ms infinite;
    animation-timing-function: linear;
    @keyframes LOADING {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
