#bg {
  width: 100%;
  height: 100%;
  position: fixed;

  & > div {
    width: 100%;
    height: 100%;
  }

  #bg-img {
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    transform: scale(1.05);
  }

  #bg-mask {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
