
#user-collection-vols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8vw;
  grid-row-gap: 4vw;
  padding-top: 25px !important;
  padding-bottom: 88px;

  .pagination {
    grid-column: 1 / 4;
  }
}
