#nav {
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;

  #nav-logo {
    width: 66px;
    height: 60px;
   margin-top: 10px;
  }

  #nav-actions,
  #nav-buttons {
   margin: 0 20px;
    & > div {
      display: inline-block;
      text-align: center;
      margin: 0 0.8vw;
     cursor: pointer;
      & > .icon {
        width: 44px;
      }
      & > p {
        font-size: 14px;
      }
    }
  }
}
