
*
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-family: "PingFang SC", "Microsoft YaHei UI", Helvetica, Arial, sans-serif
  font-weight: 300
