@charset "UTF-8";

/*@font-face {*/
    /*font-family: 'PingFang SC';*/
    /*font-style: normal;*/
    /*src: url(../fonts/Microsoft-Yahei-UI-Light.ttc);*/
/*}*/
@font-face {
    font-family: 'Savoye LET';
    font-style: normal;
    src: url(../fonts/SavoyeStd.otf) format('truetype');
}