
.vol-item {
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

  & > * {
    z-index: 2;
    position: relative;
  }

  .vol-item-bg {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.85;
  }

  .vol-item-cover {
    width: 100%;
    height: auto;
    position: relative;
  }

  .vol-item-info {
    padding: 20px;
    .vol-item-info-index {
      font-size: 2.5em;
      letter-spacing: 0.05em;
      font-family: "Savoye LET", sans-serif;
      line-height: 0.8em;
      span {
        font-size: 0.8em;
        font-weight: 300;
      }
    }
  }
}
